{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('arviot_muokkaus') }}">
  <table>
    <tr>
      <td>
        {{ form.arvio.label }}
      </td>
      <td>
        {{ form.arvio }}
      </td>
      <td>
        {{ form.katsottu.label }}
      </td>
      <td>
        {{ form.katsottu }}
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <input type="submit" value="Lisää sarjan uusi arvio"/>
      </td>
    </tr>
    <tr>
        <th>Sarja</th>
        <th>Arvio</th>
        <th>Sarja katsottu loppuun</th>
        <th>Arvio luotu</th>
        <th>Arviota muokattu</th>
        <th></th>
      </tr>
    <tr>
         <td>{{ arvio.sarja_id }}</td>
        <td>{{ arvio.arvio }}</td>
        <td>{{ arvio.katsottu }}</td>
        <td>{{ arvio.pvm_luotu }}</td>
        <td>{{ arvio.pvm_muokattu }}</td>
    </tr>
</form>
{% endblock %}